@model IEnumerable<SixthWeb.Models.Material>

<div>
    <a asp-action="Create">Создать новый материал</a>

    <table class="table">
        @foreach (var p in Model)
        {
            <tr><td>@p.Name</td></tr>
        }
    </table>
</div>