@model IEnumerable<SixthWeb.Models.Material>

<div>
    <a asp-action="Create">Создать новый материал</a>
    <!-- Добавить ссылку на переход к странице со статьёй-->
    <table class="table">
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td><a asp-action="Detail" asp-controller="Material" asp-route-id="@p.Id">Подробности</a></td>
            </tr>
        }
    </table>
</div>