@model SixthWeb.Models.Assignment

<script src="~/js/ckeditor4/ckeditor.js"></script>
<script src="~/js/jquery.min.js"></script>

<form method="post">

    <div>
        <label asp-for="Name">Название задачи</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>


        <label asp-for="TimeDate">Дата выполнения задачи:</label><br />
        <input asp-for="TimeDate" />
        <span asp-validation-for="TimeDate"></span>

        <label >Дата выполнения задачи:</label><br />
        <select >
            <option>Не выполняется</option>
            <option>Выполняется</option>
            <option>Выполнено</option>
        </select>
        <span ></span>
    </div>

    <div>
        <label asp-for="Text">Содержание задачи</label>
        <textarea name="Text" id="Text" rows="10" cols="80" asp-for="Text"> </textarea>
    </div>
    <button type="submit" asp-action="Create" asp-controller="Material">Подтвердить</button>
</form>
<script>

    $(document).ready(function () {
        CKEDITOR.replace("#Text");
    });

    document.addEventListener("DOMContentLoaded", function (event) {
        var editor = CKEDITOR.replace('Text');
    });
</script>